<section id="{{ id }}" class="usa-{{ id }} usa-section grid-container">
  <h4 class="usa-heading-alt">{{ font_name }} (<tt>.usa-{{ id }}</tt>)</h4>

  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      {{ description|raw }}
    </div>

    <div class="typography-{{ id }}-intro tablet:grid-col">
      <span class="text-huge">Aa</span>
      <div>
        <p class="text-tiny">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
        <p class="text-tiny">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
        <p class="text-tiny">0 1 2 3 4 5 6 7 8 9</p>
      </div>
    </div>
  </div>
</section>
