<section class="usa-prose margin-top-2">
  <h1>
    Spacing
  </h1>
</section>

<section>
  {% set r = row_count %}
  {% for i in range(1, r) %}
  <div class="grid-row {{ grid_gap }} width-full {{ margin_top }}">
    {% set c = column_count %}
    {% for i in range(1, c) %}
      <div class="grid-col flex-1">
        <div class="{{ height }} width-full display-flex flex-align-center bg-primary flex-justify-center padding-x-105"></div>
      </div> 
    {% endfor %}
  </div>
  {% endfor %}
</section>


{% if system_tokens %}
  <section class="usa-prose margin-top-2">
    <h1>
      Spacing unit: {{ system_tokens.arg }} {{ system_tokens }}
    </h1>
  </section>
{% endif %}

<style>
  #color-demo { 
    background-color: {{ system_tokens }}; 
    height: 50vh; 
    width: 100%; 
  }
</style>
