<section class="usa-prose margin-top-2">
  <h1>
    {{ token_type }} color tokens
  </h1>
  <p class="usa-intro">
    USWDS organizes its colors tokens into theme tokens, state tokens, and
    system tokens.
  </p>
  <p>
    Preview {{ token_type }} color tokens by selecting a color value from the controls below:
  </p>
</section>

{% if token_type == "system" %}
  {% if system_colors %}
    <section class="usa-prose margin-top-2">
      <h3>
        {{ system_colors }}
      </h3>
    </section>
    <section class="usa-section margin-top-2" id="color-demo"></section>
  {% endif %}
{% endif %}

{% if token_type == "theme" %}
  {% if theme_colors %}
    <section class="usa-prose margin-top-2">
      <h3>{{ theme_colors }}</h3>
    </section>
    <section class="usa-section margin-top-2  bg-{{ theme_colors }}" id="theme-demo"></section>
  {% endif %}
  
{% endif %}

<section class="margin-top-2" style="display: flex; flex-wrap: wrap;">
 {% for item in items %}
      <div style="width: calc(100%/7);" class="margin-top-2">
        <div style="height: 15ex;{% if token_type == "system" %} background-color: {{item}} {% endif %}"
        {% if token_type == "theme" %}class="bg-{{ item }}"{% endif %} >
        </div>
        {{ item }}
      </div>
    {% endfor %}
    </section>
<style>

  #color-demo,
  #theme-demo { 
    height: 50vh; 
    width: 100%; 
  }

  #color-demo {
    background-color: {{ system_colors }};
  }
</style>
